In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('total_dataset.csv')

In [4]:
df

,원문,번역문
0,0 설정을 입력하고 안정될 때까지 5분 동안 기다린 후 OK 버튼을 길게 누르십시오.,"Enter into 0 setting, and wait for 5 minutes t..."
1,0은 그들에게 아무것도 아니었지만 무는 숫자일 수가 없습니다.,The zero was nothing for them but nothing coul...
2,"1,015버전에서 핫키 버그가 있습니다.","There is a Hotkey bug in the 1,015 version."
3,"1,390점에서 1,440점을 득점한 사람은 재판을 위해 걸러집니다.","Individuals who got a score between 1,390 and ..."
4,"1,400년보다 오래 전의 유적지에 있는 최초의 성당에서 숭배자들은 그것을 인지했을...","Indeed, worshippers at the very first cathedra..."
...,...,...
1602413,나는 먼저 청소기로 바닥을 밀었어요.,"First of all, I vacuumed the floor."
1602414,나는 먼저 팀 과제를 하고 놀러 갔어요.,I did the team assignment first and went out t...
1602415,나는 비 같은 멋진 연예인을 좋아해요.,I like cool entertainer like Rain.
1602416,나는 멋진 자연 경치를 보고 눈물을 흘렸어.,I cried seeing the amazing scenery.
1602417,나는 멋진 중학교 생활을 기대합니다.,I look forward to a great middle school experi...

In [5]:
df.columns=['kor','en']

In [6]:
df

,kor,en
0,0 설정을 입력하고 안정될 때까지 5분 동안 기다린 후 OK 버튼을 길게 누르십시오.,"Enter into 0 setting, and wait for 5 minutes t..."
1,0은 그들에게 아무것도 아니었지만 무는 숫자일 수가 없습니다.,The zero was nothing for them but nothing coul...
2,"1,015버전에서 핫키 버그가 있습니다.","There is a Hotkey bug in the 1,015 version."
3,"1,390점에서 1,440점을 득점한 사람은 재판을 위해 걸러집니다.","Individuals who got a score between 1,390 and ..."
4,"1,400년보다 오래 전의 유적지에 있는 최초의 성당에서 숭배자들은 그것을 인지했을...","Indeed, worshippers at the very first cathedra..."
...,...,...
1602413,나는 먼저 청소기로 바닥을 밀었어요.,"First of all, I vacuumed the floor."
1602414,나는 먼저 팀 과제를 하고 놀러 갔어요.,I did the team assignment first and went out t...
1602415,나는 비 같은 멋진 연예인을 좋아해요.,I like cool entertainer like Rain.
1602416,나는 멋진 자연 경치를 보고 눈물을 흘렸어.,I cried seeing the amazing scenery.
1602417,나는 멋진 중학교 생활을 기대합니다.,I look forward to a great middle school experi...

In [7]:
df.to_csv('total_dataset.csv',index = False)

In [8]:
df = pd.read_csv('total_dataset.csv')

In [9]:
df

,kor,en
0,0 설정을 입력하고 안정될 때까지 5분 동안 기다린 후 OK 버튼을 길게 누르십시오.,"Enter into 0 setting, and wait for 5 minutes t..."
1,0은 그들에게 아무것도 아니었지만 무는 숫자일 수가 없습니다.,The zero was nothing for them but nothing coul...
2,"1,015버전에서 핫키 버그가 있습니다.","There is a Hotkey bug in the 1,015 version."
3,"1,390점에서 1,440점을 득점한 사람은 재판을 위해 걸러집니다.","Individuals who got a score between 1,390 and ..."
4,"1,400년보다 오래 전의 유적지에 있는 최초의 성당에서 숭배자들은 그것을 인지했을...","Indeed, worshippers at the very first cathedra..."
...,...,...
1602413,나는 먼저 청소기로 바닥을 밀었어요.,"First of all, I vacuumed the floor."
1602414,나는 먼저 팀 과제를 하고 놀러 갔어요.,I did the team assignment first and went out t...
1602415,나는 비 같은 멋진 연예인을 좋아해요.,I like cool entertainer like Rain.
1602416,나는 멋진 자연 경치를 보고 눈물을 흘렸어.,I cried seeing the amazing scenery.
1602417,나는 멋진 중학교 생활을 기대합니다.,I look forward to a great middle school experi...

In [10]:
train = pd.read_csv('train_data.csv')

In [11]:
train.head(10)

,kor,en
0,제2항에 따라 고시하는 사항은 다음 각 호와 같다.,Matters publicly announced pursuant to paragra...
1,공동생활을 하는 경로당에 취사 도우미를 지원하고 교통약자를 위해 거리별로 부과했던 ...,It is a welfare project that will be implement...
2,"기다리고 있던 200여 명의 팬들을 위해서 자리한 에일리, 산이, 박재범 모두 환한...","Ailee, San E and Jay Park all welcomed the fan..."
3,이번 카니발은 8일 시작으로 12일(현지 시각)까지 브라질 전역에서 진행되며 축제 ...,The carnival will run starting from 8th to 12n...
4,광주기독병원은 오는 10일 광주기독병원과 전남여자상업고등학교 학생들이 함께 ‘80년...,Gwangju Christian Hospital announced on Octobe...
5,당신은 이 사건을 해결하기 위해서는 강해져야 할 필요가 있습니다.,You have to be strong to solve this case.
6,특히 그가 예술계 인사들과 많은 접촉을 가진 시기는 INCAA에 있었던 시절이다.,"In particular, he was in INCAA when he had man..."
7,인류가 대부분 죽고 이어 생존자들까지 제거당하면서 종말의 위기가 닥친다.,As most of humanity dies and even survivors ar...
8,이탈리아 음식도 좋고 중국 음식도 좋아요.,"We like Italian, and also Chinese food."
9,"아, 그럼 혹시 학기 말에 익명 설문조사를 할 건데 그때 알려주시겠습니까?","Oh, we will have an anonymous survey by the en..."

In [12]:
val = pd.read_csv('val_data.csv')

In [13]:
val.head(10)

,kor,en
0,우리는 국제 암호 초기화와 S.E.O. 의 문제를 잘 처리할 것이라고 확신합니다.,We are confident we will work through the glob...
1,원 위원장은 “조례에 중대 하자가 있음에도 박 교육감은 이를 통과시키기 위해 교장과...,"Chairman Won said, “Even though there are seri..."
2,트럼프 대통령 4년 임기 중 2년이 지난 시점에서 열리는 이번 선거는 트럼프 행정부...,"The election, to be held two years after Trump..."
3,원영석 산부인과의사회 총무이사는 “그동안 불법 낙태수술을 한 의사들이 처벌을 받긴 ...,"""Doctors who operated illegal abortions have b..."
4,국내 채널사업자(PP)와 유료방송 사업자 간 수익 배분율이 일반적으로 6대4 또는 ...,Considering that the ratio of revenue distribu...
5,보내주신 제품은 US edition인가요?,Is the product you have sent the US edition?
6,세계보건기구(WHO)는 상담과 정보 제공 이후 의무적 숙려기간을 둘 경우 시술을 지...,The World Health Organization said that if the...
7,작년에 사망사고가 단 한 건도 발생하지 않았습니다.,Not a single fatality occurred last year.
8,심의의 공정성을 도모하기 위하여 심의안건과 이해관계가 있는 위원의 경우 해당 안건의...,In order to promote the fairness of deliberati...
9,멀리서 보면 굽은 길이요 도무지 길이 없어 보이지만 막상 그 자리에 가면 굽은 길도...,"If you look from a distance, you may see no wa..."

In [14]:
test = pd.read_csv('test_data.csv')

In [15]:
test.head(10)

,kor,en
0,언제 제가 술 한 잔 사게 해주세요.,Let me buy you a drink sometime.
1,공개된 방안에서 국회가 사용 내역 공개 없이 업무추진비만 늘릴 경우 제2의 특활비라...,"In the unveiled plan, if the National Assembly..."
2,"여름철은 계절적으로도 자외선과 높은 온도, 급격한 실내외의 온도차를 비롯해 다양한 ...","In summer, there are many seasonal factors tha..."
3,에티오피아 국영방송은 익명의 소식통을 인용해 사고기에 생존자가 없다고 보도했다.,"Ethiopian state television, citing anonymous s..."
4,상쾌한 착용감을 원하는 분 있나요?,Is there a person who wants a fresh fit?
5,왜 카카오프렌즈는 사람이 아닌 동물 캐릭터로 만들어졌을까요?,Why is Kakao Friends made as an animal charact...
6,따로 앱을 깔거나 계좌를 개설하지 않아도 되고 최소 투자 금액이 1만원에 불과하다는...,Four products worth 970 million won were sold ...
7,‘월드클래스융합최고전략과정(WCCP)’의 모집정원 30명에 두 배가 넘는 68명의 ...,The competition rate stood at 2.4:1 with 68 ap...
8,이번 콘서트는 일상 속에서 문화예술 즐길 수 있게 하자는 취지로 마련된 ‘원 먼스 ...,"As part of the One Month Festival program, whi..."
9,가메이로는 페널티박스 오른쪽에서 공을 잡은 후 곧바로 땅볼 크로스를 올렸고 호드리구...,Gameiro grabbed the ball from the right-hand s...